footer {
    margin: 30px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #000000;
}